# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [1]:
!pip install sqlite3

Unable to create process using 'C:\Users\Tarunkumar k\Desktop\Data Science\python\venv\python.exe "C:\Users\Tarunkumar k\Desktop\Data Science\python\venv\Scripts\pip-script.py" install sqlite3'

In [2]:
import sqlite3

In [8]:
# 1. Write a Python function to create a new SQLite3 database named `test.db`.
connection = sqlite3.connect('example.db')
cursor = connection.cursor()

In [9]:
# 2. Write a Python function to create a table named `employees` with columns `id` (integer),
#  `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

cursor.execute('''
create table if not exists employees(
    name text not null,
    age integer,
    id integer primary key,
    department text)
''')

connection.commit()

In [16]:
# 1. Write a Python function to insert a new employee into the `employees` table.

cursor.execute('''
insert into employees (name,age,id,department)
values ('Tarun',50,92,'CSE')
''')
connection.commit()
# 2. Insert at least 5 different employees into the `employees` table.

cursor.execute('''
insert into employees (name,age,id,department)
values 
               ('arun',50,1,'CSE'),
               ('Varun',50,2,'CSE'),
               ('karun',50,22,'CSE'),
               ('Marun',50,32,'CSE'),
               ('Sarun',50,45,'CSE')
''')
connection.commit()

In [19]:
# 1. Write a Python function to fetch and display all records from the `employees` table.

def fetch_all_employees(cursor):
    rows = cursor.execute("SELECT * FROM employees")
    for row in rows:
        print(row)

fetch_all_employees(cursor)

# 2. Write a Python function to fetch and display all employees from a specific department.
def fetch(cursor,depart):
    rows = cursor.execute("SELECT * FROM employees WHERE department = ?", (depart,))
    for row in rows:
        print(row)

fetch(cursor,'CSE')

('arun', 50, 1, 'CSE')
('Varun', 50, 2, 'CSE')
('Tarun', 50, 12, 'CSE')
('karun', 50, 22, 'CSE')
('Marun', 50, 32, 'CSE')
('Sarun', 50, 45, 'CSE')
('Tarun', 50, 92, 'CSE')
('Tarun', 50, 99, 'CSE')
('arun', 50, 1, 'CSE')
('Varun', 50, 2, 'CSE')
('Tarun', 50, 12, 'CSE')
('karun', 50, 22, 'CSE')
('Marun', 50, 32, 'CSE')
('Sarun', 50, 45, 'CSE')
('Tarun', 50, 92, 'CSE')
('Tarun', 50, 99, 'CSE')

In [22]:
# 1. Write a Python function to update the department of an employee based on their `id`.

def update_dep(cursor,dep,id):
    query = "UPDATE employees SET department = ? WHERE id = ?"
    cursor.execute(query,(dep,id))
    connection.commit()
    print(f"Department updated for employee ID {id} to '{dep}'.")


# 2. Update the department of at least 2 employees and display the updated records.
update_dep(cursor,'AIML',12)
update_dep(cursor,'EEE',22)

fetch_all_employees(cursor)

Department updated for employee ID 12 to 'AIML'.
Department updated for employee ID 22 to 'EEE'.
('arun', 50, 1, 'CSE')
('Varun', 50, 2, 'CSE')
('Tarun', 50, 12, 'AIML')
('karun', 50, 22, 'EEE')
('Marun', 50, 32, 'CSE')
('Sarun', 50, 45, 'CSE')
('Tarun', 50, 92, 'CSE')
('Tarun', 50, 99, 'CSE')

In [25]:
# 1. Write a Python function to delete an employee from the `employees` table based on their `id`.

def del_func(cursor,id):
    query = "DELETE FROM employees WHERE id = ?"
    cursor.execute(query, (id,))
    connection.commit()
    print('Deleted id ',id)


# 2. Delete at least 1 employee and display the remaining records.

del_func(cursor,1)
fetch_all_employees(cursor)

Deleted id  1
('Varun', 50, 2, 'CSE')
('karun', 50, 22, 'EEE')
('Marun', 50, 32, 'CSE')
('Sarun', 50, 45, 'CSE')
('Tarun', 50, 92, 'CSE')
('Tarun', 50, 99, 'CSE')

In [31]:
# 1. Write a Python function to fetch and display employees older than a certain age.

def old_emp(cursor,age):
    query = "SELECT * FROM employees WHERE age > ?"
    rows = cursor.execute(query, (age,))
    for row in rows:
        print(row)

old_emp(cursor,50)

# 2. Write a Python function to fetch and display employees whose names start with a specific letter.
def emp_name(cursor,letter):
    query = "SELECT * FROM employees WHERE name LIKE ?"
    rows = cursor.execute(query, (f"%{letter}%",))
    for row in rows:
        print(row)
emp_name(cursor,'k')

('karun', 50, 22, 'EEE')

In [ ]:
# 1. Write a Python function to insert multiple employees into the `employees` table in a single transaction.
#  Ensure that if any insertion fails, none of the insertions are committed.

def insert_multiple_employees(cursor, connection, employee_list):
    try:
        cursor.executemany('''
            INSERT INTO employees (name, age, id, department)
            VALUES (?, ?, ?, ?)
        ''', employee_list)
        
        connection.commit()
        print("All employees inserted successfully.")
        
    except Exception as e:
        connection.rollback()
        print("Insertion failed. Rolled back the transaction.")
        print("Error:", e)

employees = [
    ('Alice', 30, 101, 'HR'),
    ('Bob', 35, 102, 'Finance'),
    ('Charlie', 40, 103, 'IT'),
]

insert_multiple_employees(cursor, connection, employees)

All employees inserted successfully.

In [39]:
fetch_all_employees(cursor)

('Varun', 45, 2, 'CSE')
('karun', 50, 22, 'EEE')
('Marun', 55, 32, 'CSE')
('Sarun', 50, 45, 'CSE')
('Tarun', 50, 92, 'CSE')
('Tarun', 50, 99, 'CSE')
('Alice', 45, 101, 'HR')
('Bob', 50, 102, 'Finance')
('Charlie', 55, 103, 'IT')

In [38]:
# 2. Write a Python function to update the age of multiple employees in a single transaction. 
# Ensure that if any update fails, none of the updates are committed.

def update_multiple_ages(cursor, connection, updates):
    """
    updates: list of tuples -> [(new_age, employee_id), ...]
    """
    try:
        cursor.executemany('''
            UPDATE employees SET age = ? WHERE id = ?
        ''', updates)
        
        connection.commit()
        print("All age updates committed successfully.")
        
    except Exception as e:
        connection.rollback()
        print("Update failed. Rolled back the transaction.")
        print("Error:", e)

age_updates = [
    (45, 2),
    (50, 22),
    (55, 32),
]

update_multiple_ages(cursor, connection, age_updates)

All age updates committed successfully.

In [42]:
# 1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

cursor.execute('''
create table if not exists departments(
id integer primary key,
name text not null
)
''')

connection.commit()

In [47]:
# 2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

def add_foreign_key_to_employees(cursor, connection):
    try:
        cursor.execute("PRAGMA foreign_keys = ON")

        # Clean up any leftover table from failed attempts
        cursor.execute("DROP TABLE IF EXISTS employees_old")

        # Rename original table
        cursor.execute("ALTER TABLE employees RENAME TO employees_old")
        
        # Create new table with foreign key
        cursor.execute('''
            CREATE TABLE employees (
                name TEXT,
                age INTEGER,
                id INTEGER PRIMARY KEY,
                department INTEGER,
                FOREIGN KEY (department) REFERENCES departments(id)
            )
        ''')
        
        # Copy data from old table
        cursor.execute('''
            INSERT INTO employees (name, age, id, department)
            SELECT name, age, id, department FROM employees_old
        ''')
        
        # Drop old table
        cursor.execute("DROP TABLE employees_old")

        connection.commit()
        print("Foreign key added successfully.")

    except Exception as e:
        connection.rollback()
        print("Failed to add foreign key. Rolled back changes.")
        print("Error:", e)

add_foreign_key_to_employees(cursor, connection)

Foreign key added successfully.

In [48]:
# 3. Write a Python function to insert data into both the `departments` and
#  `employees` tables, ensuring referential integrity.

def insert_department_and_employee(cursor, connection, dept_id, dept_name, employee):
    """
    Inserts a department (if it doesn't exist) and an employee referencing it.

    Parameters:
    - dept_id: int - Department ID
    - dept_name: str - Department name
    - employee: tuple - (name, age, id, department_id)
    """
    try:
        # Ensure foreign key enforcement
        cursor.execute("PRAGMA foreign_keys = ON")

        # Begin transaction
        connection.execute("BEGIN")

        # Insert department if it doesn't exist
        cursor.execute(
            "INSERT OR IGNORE INTO departments (id, name) VALUES (?, ?)",
            (dept_id, dept_name)
        )

        # Insert employee
        cursor.execute(
            "INSERT INTO employees (name, age, id, department) VALUES (?, ?, ?, ?)",
            employee
        )

        # Commit if all went well
        connection.commit()
        print("Department and employee inserted successfully.")

    except Exception as e:
        connection.rollback()
        print("Insert failed. Rolled back the transaction.")
        print("Error:", e)


# Department info
dept_id = 1
dept_name = "CSE"

# Employee: (name, age, id, department_id)
employee_data = ("Alice", 30, 101, dept_id)

insert_department_and_employee(cursor, connection, dept_id, dept_name, employee_data)

Department and employee inserted successfully.

In [51]:
fetch_all_employees(cursor)

('Alice', 30, 101, 1)

In [53]:
# 1. Create an index on the `name` column of the `employees` table.

cursor.execute("CREATE INDEX IF NOT EXISTS idx_employee_name ON employees(name)")

connection.commit()

# 2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

import time

def fetch_employees_by_letter(cursor, letter):
    """
    Fetches employees whose names start with the given letter.
    Measures performance with and without an index.
    """
    print(f"\n🔎 Fetching employees whose names start with '{letter}'\n")

    # Query
    query = "SELECT * FROM employees WHERE name LIKE ?"
    param = (letter + '%',)

    # 1. Run WITHOUT index (drop if exists)
    cursor.execute("DROP INDEX IF EXISTS idx_employee_name")
    connection.commit()

    start = time.time()
    cursor.execute(query, param)
    results_no_index = cursor.fetchall()
    duration_no_index = time.time() - start

    print(f"Without Index: {len(results_no_index)} results in {duration_no_index:.6f} seconds")

    # 2. Create the index
    cursor.execute("CREATE INDEX IF NOT EXISTS idx_employee_name ON employees(name)")
    connection.commit()

    # 3. Run WITH index
    start = time.time()
    cursor.execute(query, param)
    results_with_index = cursor.fetchall()
    duration_with_index = time.time() - start

    print(f"With Index   : {len(results_with_index)} results in {duration_with_index:.6f} seconds")

    # Display some sample results (optional)
    print("\n📄 Sample results:")
    for row in results_with_index[:5]:
        print(row)

fetch_employees_by_letter(cursor, 'A')

🔎 Fetching employees whose names start with 'A'

Without Index: 1 results in 0.000000 seconds
With Index   : 1 results in 0.000000 seconds

📄 Sample results:
('Alice', 30, 101, 1)

In [55]:
# 1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

import shutil

def backup_database(src_path='example.db', backup_path='backup.db'):
    try:
        # Safely copy the database file
        shutil.copyfile(src_path, backup_path)
        print(f"✅ Backup successful: '{src_path}' → '{backup_path}'")
    except Exception as e:
        print("❌ Backup failed.")
        print("Error:", e)

backup_database()

✅ Backup successful: 'example.db' → 'backup.db'

In [56]:
# 2. Write a Python function to restore the `test.db` database from the `backup.db` file.

def restore_database(backup_path='backup.db', restore_path='test.db'):
    try:
        shutil.copyfile(backup_path, restore_path)
        print(f"✅ Database restored: '{backup_path}' → '{restore_path}'")
    except Exception as e:
        print("❌ Restore failed.")
        print("Error:", e)

restore_database()

✅ Database restored: 'backup.db' → 'test.db'